<!DOCTYPE html>
<html>
<head>
    <title> Аутентификация </title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <style>
        body {
            background: rgb(150, 180, 255);
            padding-top: 2rem;
            text-align: center;
        }
    </style>
</head>
<body>
<form action="/auth" method="post">
    <input name="move" type="radio" value="Create"> Создать аккаунт
    <br><br>
    <input name="move" type="radio" value="SignIn"> Войти в существующий
    <br><br><br>
    <input name="login" placeholder="Введите логин: " style="width:50%; height: 50px; font-size: 30px" type="text">
    <br><br>
    <input name="password" placeholder="Введите пароль: " style="width:50%; height: 50px; font-size: 30px" type="text">
    <br><br>
    <button style="width:25%; height: 50px; font-size: 30px" type="submit">Подтвердить</button>
</form>
</body>
</html>