<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Расписание </title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <style>
        body {
            color: white;
            background: black;
            padding-top: 5rem;
            text-align: center;
        }

        A {
            font-size: 30px;
            text-decoration: none;
            color: crimson;
        }

        A:visited {
            color: blue;
        }

        A:active {
            color: green;
        }
    </style>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
</head>
<body>
<h1> Нажмите на ссылку чтоб увидеть расписание или количество уроков: <br><br></h1>

<h2><br> Дни: <br></h2>
<p>
    <a th:href="@{|/days?dayOfWeek=today&userLogin=${login}|}"> Сегодня </a> |
    <a th:href="@{|/days?dayOfWeek=tomorrow&userLogin=${login}|}"> Завтра </a>
</p>
<p>
    <a th:href="@{|/days?dayOfWeek=понедельник&userLogin=${login}|}"> Понедельник </a> |
    <a th:href="@{|/days?dayOfWeek=вторник&userLogin=${login}|}"> Вторник </a> |
    <a th:href="@{|/days?dayOfWeek=среда&userLogin=${login}|}"> Среда </a> |
    <a th:href="@{|/days?dayOfWeek=четверг&userLogin=${login}|}"> Четверг </a> |
    <a th:href="@{|/days?dayOfWeek=пятница&userLogin=${login}|}"> Пятница </a>
</p>

<h2><br><br> Количество всех уроков до: <br></h2>
<p>
    <a th:href="@{|/allLessons?before=nearest&userLogin=${login}|}"> Ближайших каникул</a> |
    <a th:href="@{|/allLessons?before=summer&userLogin=${login}|}"> Летних каникул</a>
</p>

<h2><br><br> Количество уроков: <br></h2>
<p>
    <a th:href="@{|/lessons?lessonName=Алгебра&userLogin=${login}|}"> Алгебры </a> |
    <a th:href="@{|/lessons?lessonName=Физика&userLogin=${login}|}"> Физики </a> |
    <a th:href="@{|/lessons?lessonName=Информатика&userLogin=${login}|}"> Информатики </a> |
    <a th:href="@{|/lessons?lessonName=Геометрия&userLogin=${login}|}"> Геометрии </a>
</p>
<p>
    <a th:href="@{|/lessons?lessonName=Русский&userLogin=${login}|}"> Русского </a> |
    <a th:href="@{|/lessons?lessonName=Английский&userLogin=${login}|}"> Английского </a> |
    <a th:href="@{|/lessons?lessonName=Литература&userLogin=${login}|}"> Литературы </a> |
    <a th:href="@{|/lessons?lessonName=История&userLogin=${login}|}"> Истории </a>
</p>
<p>
    <a th:href="@{|/lessons?lessonName=Физ-ра&userLogin=${login}|}"> Физ-ры </a> |
    <a th:href="@{|/lessons?lessonName=Комп Графика&userLogin=${login}|}"> Компьютерной Графики </a> |
    <a th:href="@{|/lessons?lessonName=Астрономия&userLogin=${login}|}"> Астрономии </a> |
    <a th:href="@{|/lessons?lessonName=ОБЖ&userLogin=${login}|}"> ОБЖ </a>
</p>
</body>
</html>