<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Начальная страница </title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <style>
        body {
            text-align: center;
        }

        A {
            text-decoration: none;
            color: blue;
        }

        A:visited {
            color: blueviolet;
        }

        A:active {
            color: crimson;
        }
    </style>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
</head>
<body>
<h1 style="text-align: right">
    <a href="/?language=ENG">ENG</a>
</h1>
<h1 style="padding-top: 5rem;"> Добро пожаловать на худший в мире сайт <br><br></h1>
<h2> Зачем пожаловали? </h2>
<br><br><br><br>
<h1><a href="chooseTimetable?language=RU"> Посмотреть расписание без авторизации </a></h1>
<br><br><br><br>
<h1><a href="auth?language=RU"> Войти в аккаунт </a></h1>
</body>
</html>