<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Изменение расписания </title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <style>
        body {
            color: white;
            background: black;
            text-align: center;
            padding-top: 2rem;
        }

        h1 {
            color: red;
        }

        h3 {
            color: crimson;
        }
    </style>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
</head>
<body>
<h2 th:text="'Здравствуйте, ' + ${userLogin}"></h2>
<h1> Обратите внимание! <br>
</h1>
<h2>
    Для корректной работы <br>
    Запись должна выглядеть так: <br>
</h2>
<h3>
    День недели: понедельник <br><br>
    Номер урока: 1 <br><br>
    Название урока: Алгебра <br><br>
    Номер кабинета: 333 <br><br>
    Имя учителя: Иванов И.И. <br><br>
</h3>

<h2> Введите информацию об уроке:</h2>
<br><br>
<form action="/editTimetable" method="post">
    <input name="dayOfWeek" placeholder="Введите день недели: " style="width:30%; height: 50px; font-size: 30px"
           type="text">
    <br><br>
    <input name="lessonNumber" placeholder="Введите номер урока: " style="width:30%; height: 50px; font-size: 30px"
           type="number">
    <br><br>
    <input name="lessonName" placeholder="Введите название урока: " style="width:30%; height: 50px; font-size: 30px"
           type="text">
    <br><br>
    <input name="roomNumber" placeholder="Введите номер кабинета: " style="width:30%; height: 50px; font-size: 30px"
           type="text">
    <br><br>
    <input name="teacherName" placeholder="Введите имя учителя: " style="width:30%; height: 50px; font-size: 30px"
           type="text">
    <br><br>
    <button style="width:25%; height: 50px; font-size: 30px" type="submit">Подтвердить</button>
</form>
<pre>
    <h2>Текущее расписание: </h2>
    <li th:each="lesson : ${timetable}" th:text="${lesson}"></li>
</pre>
</body>
</html>