<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Изменение пароля </title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <style>
        body {
            color: white;
            background: black;
            text-align: center;
            padding-top: 2rem;
        }
    </style>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
</head>
<body>
<h2 th:text="'Здравствуйте, ' + ${login}"></h2>
<h1> Введите пароли:</h1>
<br><br>
<form action="/editUser" method="post">
    <input name="value" placeholder="Введите новый пароль: " style="width:50%; height: 50px; font-size: 30px"
           type="text">
    <br><br>
    <input name="password" placeholder="Введите текущий пароль: " style="width:50%; height: 50px; font-size: 30px"
           type="text">
    <br><br>
    <button style="width:25%; height: 50px; font-size: 30px" type="submit">Подтвердить</button>
</form>
</body>
</html>