<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Каникулы </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        body {
            color: white;
            background: black;
            text-align: center;
            padding-top: 2rem;
        }

        h1 {
            color: red;
        }

        h3 {
            color: crimson;
        }

        A {
            text-decoration: none;
            color: crimson;
        }

        A:visited {
            color: blue;
        }

        A:active {
            color: green;
        }
    </style>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
</head>
<body>
<h2 th:text="'Здравствуйте, ' + ${userLogin}"></h2>

<h1> Обратите внимание! <br>
</h1>
<h2>
    Если последний учебный день - 30-е декабря 2020 года, <br>
    а первый день после каникул - 5-е января 2021 года, <br>
    то запись должна выглядеть так: <br>
</h2>
<h3>
    Год: 2020 Месяц: 12 День: 30 <br><br>
    Год: 2021 Месяц: 1 День: 5 <br><br>
</h3>
<h2> Введите информацию о каникулах: <br></h2>
<br> <br>
<form action="/editHolidays" method="post">
    <input style="width:30%; height: 50px; font-size: 30px" type="number" name="beginYear"
           placeholder="Год начала каникул: ">
    <input style="width:30%; height: 50px; font-size: 30px" type="number" name="beginMonth"
           placeholder="Месяц начала каникул: ">
    <input style="width:30%; height: 50px; font-size: 30px" type="number" name="beginDay"
           placeholder="Последний учебный день: ">
    <br><br>
    <input style="width:30%; height: 50px; font-size: 30px" type="number" name="endYear"
           placeholder="Год конца каникул: ">
    <input style="width:30%; height: 50px; font-size: 30px" type="number" name="endMonth"
           placeholder="Месяц конца каникул: ">
    <input style="width:30%; height: 50px; font-size: 30px" type="number" name="endDay"
           placeholder="Первый учебный день: ">
    <br><br>
    <button style="width:25%; height: 50px; font-size: 30px" type="submit">Подтвердить</button>
</form>
<pre>
    <h2>Каникулы: </h2>
    <li th:each="holiday : ${holidays}" th:text="${holiday}"></li>
</pre>
</body>
</html>