<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Start Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        body {
            color: white;
            background: black;
        }
        A {
            text-decoration: none;
            color: crimson;
        }
        A:visited {
            color: blue;
        }
        A:active {
            color: green;
        }
    </style>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
</head>
<body>
<h4> <a th:href="@{|/editUser?userLogin=${login}|}"> Edit Account </a> </h4>
<h4> <a href="chooseTimetable"> Choose verified Timetable </a> </h4>
<h4> <a th:href="@{|/timetable?userLogin=${login}|}"> Show Timetable </a> </h4>
<h4> <a th:href="@{|/editTimetableAuth?userLogin=${login}|}"> Edit Timetable </a> </h4>
<h4> <a th:href="@{|/editHolidaysAuth?userLogin=${login}|}"> Edit Holidays </a> </h4>
</body>
</html>