<!DOCTYPE html>
<html>
<head>
    <title> Authentication </title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <style>
        body {
            padding-top: 2rem;
            text-align: center;
        }
    </style>
</head>
<body>
<form action="/auth" method="post">
    <input name="move" type="radio" value="Create"> Create account
    <br><br>
    <input name="move" type="radio" value="SignIn"> Login to your account
    <br><br><br>
    <input name="login" placeholder="Enter your login: " style="width:50%; height: 50px; font-size: 30px" type="text">
    <br><br>
    <input name="password" placeholder="Enter your password: " style="width:50%; height: 50px; font-size: 30px" type="text">
    <br><br>
    <button style="width:25%; height: 50px; font-size: 30px" type="submit">Submit</button>
</form>
</body>
</html>