<!DOCTYPE html>
<html>
<head>
    <title> Verified timetables </title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <style>
        body {
            padding-top: 5rem;
            text-align: center;
        }

        A {
            text-decoration: none;
            color: blue;
        }

        A:visited {
            color: blueviolet;
        }

        A:active {
            color: crimson;
        }
    </style>
</head>
<body>
<h1> List of verified timetables:</h1> <br>
<h2><a href="main?userLogin=null&language=RU"> School: 1530, Class: 11A </a></h2>
</body>
</html>