<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Verified timetables </title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <style>
        body {
            color: white;
            background: black;
            padding-top: 5rem;
            text-align: center;
        }

        A {
            text-decoration: none;
            color: crimson;
        }

        A:visited {
            color: blue;
        }

        A:active {
            color: green;
        }
    </style>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
</head>
<body>
<h1> List of verified timetables:</h1> <br>
<h2><a href="main?userLogin=null&language=ENG"> School: 1530, Class: 11A</a></h2>
</body>
</html>