<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Start Page </title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <style>
        body {
            background: rgb(150, 180, 255);
            text-align: center;
        }

        A {
            text-decoration: none;
            color: blue;
        }

        A:visited {
            color: blueviolet;
        }

        A:active {
            color: crimson;
        }
    </style>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
</head>
<body>
<h1 style="text-align: right">
    <a href="/?language=RU">RU</a>
</h1>
<h1 style="padding-top: 5rem;"> Welcome, what are you gonna do? <br><br></h1>
<br><br><br><br>
<h1><a href="chooseTimetable?language=ENG"> View timetable without authorization </a></h1>
<br><br><br><br>
<h1><a href="auth?language=ENG"> Enter account </a></h1>
</body>
</html>