<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Timetable </title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <style>
        body {
            color: white;
            background: black;
        }
    </style>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
</head>
<body>
<span style="font-size: 30px" th:text="'Day Of Week: ' + ${dayOfWeek}"></span>
<pre><br></pre>
<li style="font-size: 30px" th:each="table : ${timetable}" th:text="${table}"></li>
</body>
</html>