<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Количество уроков </title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <style>
        body {
            color: white;
            background: black;
        }
    </style>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
</head>
<body>
<pre>
    <li style="font-size: 30px" th:each="lesson : ${timetable}" th:text="${lesson}"></li>
</pre>
</body>
</html>